<div style="margin-bottom: 5px; display: flex; justify-content: space-between;">
  <!-- <div>
    <button (click)="onBtStartEditing()">edit (0)</button>
    <button (click)="onBtStartEditing(46)">edit (0, Delete)</button>
    <button (click)="onBtStartEditing(null, 'T')">edit (0, 'T')</button>
    <button (click)="onBtStartEditing(null, null, 'top')">
      edit (0, Top)
    </button>
    <button (click)="onBtStartEditing(null, null, 'bottom')">
      edit (0, Bottom)
    </button>
  </div>
  <div>
    <button (click)="onBtStopEditing()">stop ()</button>
    <button (click)="onBtNextCell()">next ()</button>
    <button (click)="onBtPreviousCell()">previous ()</button>
  </div>
  <div>
    <button (click)="onBtWhich()">which ()</button>
  </div> -->
</div>
<div style="height: calc(100% - 25px);">
  <ag-grid-angular
    #agGrid
    style="width: 800px; height: 500px"
    id="myGrid"
    class="ag-theme-alpine"
    [modules]="modules"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
